* {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
}

.wrapper {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  position: relative;
}

.warm {
  background-image: url(../images/warm.png);
}

.cold {
  background-image: url(../images/cold.png);
}

.location-search {
  display: block;
  margin: auto;
  width: 460px;
  height: 50px;
  font-size: 20px;
  padding: 0 20px;
  border: none;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 2px 5px 2px 0 rgba(0, 0, 0, .2);
  border-radius: 0 0 10px 10px;
}

.location-info {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: rgba(255, 255, 255);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, .3);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
}

.date {
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-style: italic;
  color: rgba(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.weather-data {
  position: absolute;
  top: 350px;
  /* left: 50%; */
  width: 200px;
  height: 200px;
  line-height: 170px;
  text-align: center;
  transform: translateX(-50%);
  font-size: 70px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.temperature {
  left: 40%;
}

.humidity {
  left: 60%;
  line-height: 200px;
}

sup {
  font-size: 50px;
}


.weather-data-label {
  color: rgba(10, 10, 255, .4);
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.hum {
  top: 38%;
}